* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #fff;
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 110px;
    border-bottom: 1px solid gainsboro;
    position: relative;
}
.breadcrumb{
    height: 35px;
    padding: 2px 10px;
    border-radius: 20px;
    border: 1px solid rgb(211, 213, 211);
    margin: 15px 20px;
}
.breadcrumb a{
    text-decoration: none;
}

.dashboard-button{
    background-color: white;
    border: 1px solid rgb(58, 107, 241);;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: large;
    color: rgb(58, 107, 241);;
}

/* Sidebar */
aside {
    background-color:white;
    padding: 20px;
    width: 90px;
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    transition: width 0.3s; /* Smooth transition for width change */
}

aside:hover {
    width:230px; /* Adjust width to fit content on hover */
    background-color:white;
}

aside h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

aside ul {
    list-style-type: none;
    padding: 0;
    background-color:white;
    margin: 5px;   
}

aside ul li {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 20px;
    
}
aside 



aside ul li .icon {
    color:gray; /* Change icon color to rgb(58, 107, 241); */
    transition: transform 0.3s ease; /* Smooth rotation transition */
}



aside ul li a {
    color: rgb(58, 107, 241);;
    text-decoration: none;   
}


.icon-name {
    display: none;
}

.icon {
    font-size: 24px;
    margin-right: 10px;
    background-color: white;
}

/* Increase icon size */
aside ul li .icon {
    font-size: 20px;
    color: gray;
}

/* Show icon names on hover */
aside:hover ul li .icon-name {
    display: inline;
    margin-left: 10px;
    background-color: white;
    color: rgb(58, 107, 241);
}

.smiley-icon {
    font-size: 50px;
    cursor: pointer;
    color: rgb(58, 107, 241);;
    background-color: white;
}

/* Hide subcategories by default */
.subcategories {
    display: none;
}

/* Show subcategories when the class is applied */
.subcategories-visible {
    display: flex;
    flex-direction: column;
}
.main-category{
    display: flex;
    flex-direction: column;
}
.toggle-button {
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    padding: 5px 20px; /* Adjust padding as needed */
    cursor: pointer;
    font-size: 16px;
    color: rgb(58, 107, 241);;
    outline: none;
}
.collapse{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    
}
.collapse a{
    padding-left: 15px;
}
aside{
    overflow: hidden;
}
.gg .icon{
    font-weight: bolder;
}
.img img{
   height: 30px;
   width: 30px;
}
.user{
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 20px;
}
.ban p{
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 30px;
}
.ban label{
    margin-left: 100px;
    margin-right: 20px;
}
.ban input{
    padding: 5px;
}
.ban select{
    margin-left: 100px;
    margin-right: 20px;
    width: 91%;
}
.button{
    margin-left: 100px;
    margin-top: 20px;
    background-color: #4578c5;
    color: white;
    border-radius: 15px;
    width: 80px;
    padding: 5px;
    border: none;
    border: none;
}
